[mysqld]
skip_name_resolve

innodb_file_format = Barracuda
innodb_file_per_table = 1
innodb_large_prefix = 1
innodb_strict_mode = 1
innodb_buffer_pool_size = 128M
innodb_log_buffer_size = 8M
innodb_flush_log_at_trx_commit = 2

transaction_isolation = READ-COMMITTED
binlog_format = ROW
